header{
    position: fixed;
    width: 100%;
    z-index: 99;
}
nav{
    background-color: var(--nav);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-bottom: #f7f7f732 1px solid;
}
nav .logo{
    font-size: 26px;
    color: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav .logo a{
    letter-spacing: 0.2px;
    cursor: default;
    color: var(--font);
    text-decoration: none;
}
nav .logo a span{
    color: var(--pri);
    transition-duration: 0.4s;
}
nav .logo a span:hover{
    color: var(--font);
}
nav .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav .link{
    color: var(--font);
    text-decoration: none;
    padding: 2px 10px;
}
nav .link.active{
    color: var(--pri);
}
nav .link:hover{
    color: var(--pri);
    opacity: 0.7;
}
nav .nav-btn{
    display: none;
}
nav .nav-btn button{
    min-width: 60px;
    background: var(--nav);
    border: 2px solid var(--font);
    padding: 0px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
nav .nav-btn button:hover{
    border: 2px solid var(--pri);
}
nav .nav-btn button:hover i.fa{
    color: var(--pri);
}
nav .nav-btn button:active{
    background: var(--pri);
}
nav .nav-btn button:active i.fa{
    background: var(--pri);
}
nav .nav-btn i.fa{
    color: var(--font);
    background: var(--nav);
    font-size: 24px;
    padding: 8px;
}
nav .links a i{
    margin: 0px 2px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 900px) {
    nav{
        padding: 0px;
    }
    .navbar{
        width: 100%;
        z-index: 2;
        background-color: var(--nav);
        padding: 10px;
    }
    nav .links{
        position: absolute;
        top: calc(100% - 1px);
        background-color: var(--nav);
        width: 100%;
        left: 0;
        transition-duration: 0.4s;
        border-bottom: #f7f7f732 1px solid;
        z-index: 1;
    }
    nav .links.closed{
        transform: translateY(-200%);
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
    }
    nav .links.opened{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    nav.opened{
        display: flex;
    }
    nav .links a{
        display: block;
        margin: 24px 6px;
        font-size: 20px;
    }
    nav .links a i{
        margin: 0px 4px;
        display: inline-block;
        width: 50px;
        text-align: center;
    }
    nav .nav-btn{
        display: block;
    }
}