.bottom-nav{
    position: fixed;
    bottom: 0px;
    background-color: var(--nav);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 14px 2px;
    display: none;
    z-index: 99;
    border-top: 1px solid #f7f7f732;
}
.bottom-nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--font);
    gap: 4px;
    flex: 1;
}
.bottom-nav span{
    font-size: 14px;
}
.bottom-nav .fa{
    font-size: 26px;
}
.bottom-nav a.active{
    color: var(--pri);
}
.bottom-nav a:hover{
    color: var(--pri);
    opacity: 0.7;
}
@media screen and (max-width: 900px) {
    .bottom-nav{
        display: flex;
    }
}