main.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    width: 100%;
    padding: 60px 0 0 0;
}
main.blog h1{
    color: var(--pri);
    font-size: 40px;
    letter-spacing: 1px;
    margin: 10px auto;
}
main.blog p{
    color: var(--font);
    letter-spacing: 0.6px;
}
.post{
    position: relative;
    width: calc((100% - 20px) / 3);
    box-sizing: border-box;
    transition-duration: 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: var(--nav);
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
@media(max-width: 900px){
    .post{
        width: calc((100% - 10px) / 2);
    }
}
@media(max-width: 600px){
    .post{
        width: calc((100% - 0px) / 1);
    }
}
.post .post-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 4px 0 0 0;
}
.post .img-container{
    overflow: hidden;
    min-height: 38px;
    background: var(--font);
}
.post:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.post img{
    width: 100%;
    transition-duration: 0.2s;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    display: flex;
}
.post h3{
    color: var(--font);
    font-size: 22px;
    margin: 2px 0 6px 0;
}
.post a.pri-btn{
    text-decoration: none;
    padding: 8px 24px;
    background-color: var(--pri);
    color: var(--nav);
    font-size: 18px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.post a.sub-btn{
    color: var(--pri);
    font-size: 30px;
}
.post a:active{
    color: var(--pri);
    background-color: var(--background);
}
.post a:hover{
    opacity: 0.8;
}